@charset "UTF-8";
/* page */

/* COLOR PALETTE =============

LINK
#07459A rgb(7,69,154)

ACTIVE/FOCUS
#006400 rgb(0,100,0)

VISITED
#64406B rgb(100,64,107)


========================= */



body {
	background-attachment: fixed;
	background-color:#ffffff;
	color: #303030;
	font-family: Verdana,Geneva,sans-serif;
	font-size:100%;
	margin:0 auto; 
	padding:0; 
	position:relative;
}

@media screen and (min-width:1200px) {
	body {
		background:#ffffff;
	}
}

article,aside,dialog,figure,footer,header,hgroup,main, menu,nav,section	{ display:block; }

.outer-container {
	background:#006361;
	margin: 0 auto;
	padding:1%;
	width:95%;
}

.content {
	display:block;
	padding-bottom:.5rem;
	width:100%; /* outline:thick solid orange; */
}


@media screen and (min-width:759px) {

  .outer-container { 
	  background-image: url("http://www.mass.gov/resources/images/backgrounds/eohhs.gif");
	  background-position: 51.9% 0;
	  background-repeat: repeat-y;
	  padding:0 14px 14px 14px;
	  max-width: 1006px;
  }

}

.container {
	background:#ffffff;
	border:2px solid #99ccff;
    -webkit-box-shadow: 0px 0px 6px #000;
    -moz-box-shadow: 0px 0px 6px #000;
    box-shadow: 0px 0px 6px #000;
    padding: 0 0 36px 0;
}


article { 
	margin:.3rem auto 0 auto; 
	padding:1%; 
	width:97%; 
	z-index:99999 !important;
}

article img { 
	display:block;
	margin:0 auto;
	max-width: 300px;
	width:100%;
}

@media all and (min-width:800px) {
	article img { float:right; margin: 0 .5rem .5rem .5rem; }
}

.eohhs { 
	background-color: #006361;
	font-size: 0.9em;
	height: 38px; 
	margin:0 auto;
	max-width: 1050px; 
	width:99%;
}
.eohhs p {
	color:#ffffff;
	padding:.5rem;
}


/* ACCESSIBILITY  ------------------------------------------------------------------------------------------ */
.offscreen {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}


/*    Pop-up box style   */
	
td img { 
	display: block;
	outline: thick solid yellow;
} 

#blanket {
	background-color:#111;
	filter:alpha(opacity=65);
	left:0px;
	opacity: 0.65;
	position:absolute;
	top:0px;
	width:100%;
	z-index: 9001; outline: thick solid #f00;
}

#popUpDiv {
	background-color:#eaeaea;
	height:380px;
	margin:.15rem; 
	max-width:500px;
	padding:.15rem; 
	position:absolute;
	width:100%; 
	z-index: 9002; outline: thick solid #00f;
}
	
	
/* HEADINGS  ------------------------------------------------------------------------------------------ */

h1,h2,h3,h4,h5 {
	color: #006400; 
	display:block;
	width:100%;
}
h1 {
	font-size: 16px;
	margin-left:.15rem; 
	padding-top:.15rem; 
	text-align: left;
}
h2 {
	font-family:sans-serif;
	font-size: 13px;
	font-size: 1rem;
	margin-left:0rem; 
	margin-top:2rem;
	padding-bottom:.15rem; 
	padding-top: 0px;
	text-align: left;
}
h3 {
	font-family:sans-serif;
	font-size: .9rem;
	font-weight:bold;
	padding-top:.5rem;
	text-align: left;
}
h4 {
	font-size:.8rem;
	margin-top:1rem;
	padding-top:1rem;
}



/* CONTENT  ------------------------------------------------------------------------------------------ */

blockquote {
	background:rgba(0,100,0,.15);
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:.9rem;
	margin:1.25rem auto;
	padding:1.25rem 1.25rem 2rem 1.25rem;
	width:85%;
}

cite {
	float:right;
	font-size:.7rem;
	font-style:italic;
	margin-top:1rem;
}

li, td {
	font-size:.88rem;
	line-height: 1.4;
	margin-left:.15rem; 
	padding-bottom:.15rem; 
	text-align: left;
}

p {
	font-size: .88rem;
	line-height: 1.4;
	margin: .5rem 0;
	text-align: left;
}

.content p {
	/* max-width:33rem;  */
	/* -webkit-columns: 300px 2;
   -moz-columns: 300px 2;
        columns: 300px 2; */
}

ul { 
}

ul li {
	font-size:.88rem;
	line-height:1.3;
}
ul li ul,
ol li ul {
	margin-top:.3rem;
}

ul.vcard {
	list-style:none;
	margin:1rem;
	padding:0;
}


dl {
	font-size:.9rem;
	margin:1rem auto;
	padding:0 0 .3rem 0;
}
dl dt {
	background:rgba(222,222,222,.2);
	background:#374f37;
	border-bottom:1px solid #e4e4e4;
	color: #fff;
	font-family: sans-serif;
	font-size: 0.97133em;
    font-weight: bold;
	line-height: 1.3;
	margin-bottom: 2px;
	padding:8px 8px 8px 33px;
	text-shadow: 2px 2px 1px #000;
}
dl dt a {
	color:#ffffff !important;
}
dl dd {
	border-bottom:1px solid #e4e4e4;
	margin:.2rem;
	padding:.5rem 1rem;
}
dl dd:last-child {
	border:0;
}

dfn {
	display:block;
	font-size:10px;
	font-style:normal;
	letter-spacing:1px;
	padding:.3rem 0;
	text-transform:uppercase;
}
dl dd h3 { 
	margin-top:0;
}

dl#whats_new	{
	width:90%;
}
dl#whats_new dd {
}

dl.did_you_know {
	background:#F8DD8B;
	float:right;
	font-size:13px;
	width:100%;
}
dl.did_you_know dt {
	background:#FC9C1B;
}
dl.did_you_know dd {
	padding:0 1rem;
}
article dl.did_you_know dd img {
	display:block;
	float:none;
	margin:.5rem auto 0 auto;
	max-width:250px;
	padding:0;
	width:90%;
}

dl.data_c ul,
dl.avail_data ul {
	list-style:disc;
	margin:0 0 0 0;
	padding:0;
	width:90%; 
}
dl.data_c ul li,
dl.avail_data ul li {
	display:list-item;
	margin:.5rem 0;
	padding:0 0 0 0rem;
	width:90%; 
}

dl.data_c {
	background:#d3e4f4;
	/* border:1px solid #4f8a8d; */
}
dl.data_c dt {
	background:#4F81BD;
}

dl.avail_data {
	background:#DEEADF;
	/* border:1px solid #006400; */
}
dl.avail_data dt {
	background:#006400;
}
dl.small_data img {
	display:block;
	float:none;
	max-width:300px;
	width:100%;
}
dl.small_data img.water_drop {
	float:left; 
	max-width:45px;
	width:15%;
}

dl dd cite {
	display:block;
	float:none;
}

#topics dl {
	border:1px solid #ffffff;
	display:block;
	width:90%;
}
#topics dl dd.no_border {
	border:0;
}

#topics dl dt {
	background-image:url(../images/leaf.svg);
	background-position:5px 7px;
	background-repeat:no-repeat;
	background-size: 23px;
	padding-left:33px;
}

.example {
	background: #eee;
	padding:1rem; /* added for responsive */ outline:thick solid pink;
}

.amp {
	font-family:Palatino, "Palatino Linotype", Palatino, serif;
	font-size:105%;
	font-style:italic;
	font-weight:bold;
}


@media screen and (min-width:600px) {
  dl.did_you_know,
  dl.small_data	{
	  display:block;
	  float:right;
	  margin:0 0 1rem 1rem;
	  max-width:320px;
  }
/*  dl.small_data {
	  display:inline-block;
	  float:none;
	  margin:0 1rem 1rem 0;
  } */
  #tutorial dl iframe {
	  display:block;
	  float:none;
	  height:100%;
	  margin:auto;
	  max-width:800px;
	  min-height:500px;
	  width:100%;
  }
  dl.float {
	  display:block;
	  float:left;
  }
  .float_left {
	  display:block;
	  float:left;
	  margin:0 1rem 1rem 0;
  }
  .float_right {
	  display:block;
	  float:right;
	  margin:0 0 1rem 1rem;
  }

}

@media all and (max-width: 768px) {
  .example-header .container { width: 100%; }

}

@media screen and (min-width:700px) {
	
	  #topics dl {
	  display:inline-block;
	  vertical-align:top;
	  width:23.5%;
/*	  -moz-column-count:2; 
	  -ms-column-count:2; 
	  -o-column-count:2; 
	  -webkit-column-count:2; 
	  column-count:2; 
	  -moz-column-gap:20px; 
	  -ms-column-gap:20px; 
	  -o-column-gap:20px; 
	  -webkit-column-gap:20px; 
	  column-gap:20px;  */
  }

}

@media screen and (min-width:800px) {
  article .data_c,
  article .avail_data {
	  display:inline-block;
	  margin:.5rem;
	  vertical-align:top;
	  width:47%;
  }
  dl#risk_factors {
	  display:block;
	  margin:1rem 0;
	  width:50%;
  }
}





/* LINKS  ------------------------------------------------------------------------------------------ */
a {
	color: #07459A;
	/* text-decoration: none; */
}

a:link {
	color: #07459A;
	/* text-decoration: none; */
}
a:hover,
a:focus {
	color: #006400; 
	text-decoration: underline;
	/* [disabled]text-align: right; */
	font-weight: 70;
}
a:visited {
	color:#64406b;
}
a:active {
	color: #309;
	text-decoration: underline;
	font-weight: 70;
}

[href^="http:"]:not([href*="inkpixelspaper.com"])::after, 
[href^="https:"]:not([href*="inkpixelspaper.com"])::after,
[target="popup"]::after	{
	background: url("/images/external-link.png") no-repeat 0 0;
    background: url("/images/external-link.svg") no-repeat 0 0;
    background-size: 100%;
    content: '';
    display: inline-block;
    height: 0.65em;
    margin-bottom: -1px;
    margin-left: 4px;
    width: 0.65em;
}
header h1 a.dph_seal[href^="http:"]:not([href*="inkpixelspaper.com"])::after,
a#massgov_link[href^="http:"]:not([href*="inkpixelspaper.com"])::after,
a#eohhs_link[href^="http:"]:not([href*="inkpixelspaper.com"])::after,
a.ntl_prtnr[href^="http:"]:not([href*="inkpixelspaper.com"])::after,
.social a[href^="http:"]:not([href*="inkpixelspaper.com"])::after,
.social a[href^="https:"]:not([href*="inkpixelspaper.com"])::after,
.adobe_reader a[href^="http:"]:not([href*="inkpixelspaper.com"])::after	{
	background:none;
}

a img {
	cursor:pointer;
}

p a {
	text-decoration:underline !important;
}

a.doc_link {
	display:inline-block; 
	vertical-align:text-top;
}
a.doc_link img { 
	display:inline-block;
	float:none;
	margin:0 2px;
	padding:0;
}
a.doc_link .fileinfo {
	font-size:11px;
}
a.doc_link .pdf {
	background:url("/images/icon_doc_pdf.png") 0 0 no-repeat;
	display:inline-block;
	height:20px;
	padding-left:20px;
	width:20px;
}

blockquote#glossary a {
	display:inline-block;
}
blockquote#glossary a,
a.top_link,
a.addl_content,
a.comm_profile {
	background:#f3f3f3;
	background:rgba(7,69,154,.08);
	border:thin solid rgba(7,69,154,.2);
	border:thin solid rgba(153,202,60,1);
	border-radius:3px;
	margin:.5rem;
	min-width:137px;
	padding:.3rem .5rem;
	text-align:center;
	text-decoration:underline;
}
blockquote#glossary a:hover,
blockquote#glossary a:focus,
a.top_link:hover,
a.top_link:focus,
a.addl_content:hover,
a.addl_content:focus,
a.comm_profile:hover,
a.comm_profile:focus {
	background:rgba(0,100,0,.08);
	border:thin solid rgba(0,100,0,.2);
	color:#006400;
	text-decoration:underline;
}
blockquote#glossary a:active,
a.top_link:active,
a.addl_content:active,
a.comm_profile:active {
	background:#f3f3f3;
	color:#030303;
	text-decoration:underline; 
}
blockquote#glossary a:visited {
	background:#f3f3f3;
	background:rgba(100,64,107,0.2);
	color:#64406b;
}

a.comm_profile,
#maps_and_tables a {
	background:rgba(7,69,154,.08);
	/* border:thin solid rgba(7,69,154,.08); */
	border:thin solid rgba(153,202,60,1);
	color:#07459A;
	font-size:13px;
	text-decoration:none;
}
a.comm_profile:hover,
a.comm_profile:focus,
#maps_and_tables a:hover,
#maps_and_tables a:focus {
	background:#f3f3f3;
	background:rgba(0,100,0,0.08);
	/* border:thin solid rgba(0,100,0,0.08); */
	color:#006400;
	text-decoration:underline;
}
a.comm_profile:visited,
#maps_and_tables a:visited {
	background:#f3f3f3;
	background:rgba(100,64,107,0.2);
	/* border:thin solid #64406b; */
	color:#64406b;
}

a.comm_profile {
	display:block;
	margin:.5rem 0;
	width: 73%;
}

a.top_link {
	display:inline-block;
	margin-top:1rem;
}

a.addl_content {
	float:left;
	margin:1rem;
}

ul.related_info {
	background:rgba(7,69,154,.08);
	float:right;
	padding:.3rem;
	width:40%;
}
a.skip-navigation:link {
	font-size:12px;
	padding:5px; 
}

a.skip-navigation:visited {
}

a.skip-navigation:hover,
a.skip-navigation:focus {
}


.tel {
	margin:1rem 0;
}
.tel a.phone {
	background:#f3f3f3;
	background:rgba(7,69,154,.08);
	border:thin solid rgba(7,69,154,.2);
	border-radius:3px;
	cursor:pointer;
	display:inline-block;
	padding:5px;
	text-decoration:none;
}
.tel a.phone:hover,
.tel a.phone:focus {
}
.tel a.phone:visited {
	background:#f3f3f3;
	background:rgba(100,64,107,0.2);
	border:thin solid #64406B;
	color:#64406b;
}

.credits_logos a {
	display:inline-block;
	vertical-align:middle;
}

@media screen and (min-width:800px) {
	.tel { 
		margin:0;
	}
	/* the tel link looks like regular text on the desktop */
	.tel a.phone,
	.tel a.phone:hover,
	.tel a.phone:focus,
	.tel a.phone:visited,
	.tel a.phone:active {
		background:#ffffff;
		border:none;
		border-radius:0;
		color:#0c0d0d;
		cursor:text;
		margin:0;
		padding:0;
		text-decoration:none !important;
	}
}




/* TABLES  ------------------------------------------------------------------------------------------ */

table {
	border:1px solid #c0c0c0;
	font-family: Verdana, Arial, sans serif;
}
table thead {
	text-align:left;
}
table td {
	margin-bottom:.15rem;
	padding:.15rem; 
}

table {
	font-weight: normal;
	margin-bottom:.15rem; 
}
table p {
	font-size:13px;
}
tr th {
	font-weight:bold;
	text-align:left;
}


table#pathways  {
	border-color:#ffffff;
	outline:none;
	width:98%;
}
table#pathways tr th,
table#pathways tr td,
table#pathways tr td ul li {
	font-size:12px !important;
	padding:.3rem;
	vertical-align:top;
}
table#pathways tr td ul { 
	margin:0 0 0 .7rem;
	padding:0;
}
table#pathways tr td ul li {
}
table#pathways thead tr th {
	background:#4F81BD;
	color:#ffffff;
	font-size:12px;
	text-shadow: 2px 2px 1px #000;
}
table#pathways tbody tr th {
	background:#c3c3c3;
}
table#pathways thead tr th {
	display:none;
}

table#pathways tbody tr th,
table#pathways tbody tr td {
	display:block;
	width:100%;
}
table#pathways tbody td dfn:not(.first_dfn) {
	border-top: 1px solid #2c2c2c;
}


.rwd_table {
	border:0;
	border-bottom:3px solid #0c0d0d;
	display:block;
	font-size:13px !important;
	margin-bottom:2rem;
	margin-top:2rem;
	padding-bottom:1rem;
	width:100%;
}
.rwd_table caption {
	background:#4F81BD;
	color:#ffffff;
	display:block;
	font-weight:bold;
	margin-top:2rem;
	padding:.5rem;
	text-align:left;
	text-shadow: 2px 2px 1px #000;
	width:97%;
}
.rwd_table caption em {
	color:#ffffff;
}
.rwd_table thead,
table#pathways thead tr th {
	display:none;
}
.rwd_table tbody dfn
table#pathways tbody dfn {
	background:transparent;
	color:#0c0d0d;
	display:block;
	float:left;
	font-size:10px;
	font-weight:bold;
	margin-left:0;
	margin-right:.7rem;
	padding:5px 5px 5px 0;
	text-align:left;
	width:100%;
}
.rwd_table thead tr {
	border:0;
}
.rwd_table tr {
	display:block;
	margin-bottom:.25rem;
	padding:.25rem;
}
.rwd_table tbody tr:nth-child(even) {
   background-color: #f3f3f3;
}
.rwd_table thead tr th,
.rwd_table tbody tr td,
.rwd_table tbody tr th {
	display:inline-block;
	font-size:13px;
	min-width:50px; 
	text-align:left;
	vertical-align:top;
}
.rwd_table tbody tr th {
	font-size:14px;
}
.rwd_table thead tr th:first-of-type,
.rwd_table tbody tr td:first-of-type {
	border-top:0;
}
.rwd_table thead tr th:first-of-type,
.rwd_table tbody tr td:first-of-type,
.rwd_table thead tr th:nth-of-type(2),
.rwd_table tbody tr td:nth-of-type(2),
.rwd_table thead tr th:nth-of-type(3),
.rwd_table tbody tr td:nth-of-type(3) {
	width:98%;
}
#fine_particles {
	width:100%;
}

#conceptual_pathways td ul,
#vulnerable tbody tr th ul {
	clear:both;
	display:block;
	margin-left:.5rem;
	margin-top:.5rem;
	padding-left:0;
	width:98%; 
}
#conceptual_pathways tbody tr td:nth-of-type(5) ul,
#conceptual_pathways tbody tr td:nth-of-type(6) ul {
	list-style:none;
}

#conceptual_pathways tbody tr td:nth-of-type(5),
#conceptual_pathways tbody tr td:nth-of-type(6) {
	width:100%; 
}

table#health_data thead tr th:first-of-type,
table#health_data tbody tr th:first-of-type dfn {
	visibility:hidden;
}

@media all and (min-width:800px) {
	table#pathways,
	table#pathways tbody tr th,
	table#pathways tbody tr td {
		border:thin solid #202020;
	}
	table#pathways thead tr th,
	table#pathways tbody tr th,
	table#pathways tbody tr td {
		display:table-cell;
		width:auto;
	}
	.rwd_table caption {
		background:#ffffff;
		color:#030303;
		text-shadow:none;
	}
	.rwd_table caption em {
	  color:#0c0d0d;
	}
	.rwd_table thead,
	.rwd_table tbody,
	.rwd_table tfoot {
		display:block;
		padding:.5rem;
		width:98%;
	}
	.rwd_table thead {
		background:#4F81BD;
		color:#ffffff;
		text-shadow: 2px 2px 1px #000;
	}
	.rwd_table tfoot {
	}
	.rwd_table tr {
		border:0;
		border-top:1px solid #c0c0c0;
	}
	.rwd_table tbody tr:first-of-type {
		border:0;
	}
	.rwd_table tbody dfn,
	table#pathways dfn {
		display:none;
	}
	.rwd_table thead tr th {
		border:0;
	}
	.rwd_table thead tr th:first-of-type,
	.rwd_table tbody tr td:first-of-type,
	.rwd_table tbody tr th {
		border:0;
		display:inline-block;
		width:25%; 
	}
	.rwd_table tbody tr th {
		font-size:13px;
	}
	.rwd_table thead tr th:nth-of-type(2),
	.rwd_table tbody tr td:nth-of-type(2) {
		border:0;
		width:35%;
	}
	.rwd_table thead tr th:nth-of-type(3),
	.rwd_table tbody tr td:nth-of-type(3) {
		border:0;
		width:34%;
	}
	#fine_particles {
		width:100%;
	}
	#health_data thead tr th:first-of-type,
	#health_data tbody tr td:first-of-type,
	#health_data tbody tr th,
	#health_data thead tr th:nth-of-type(2),
	#health_data tbody tr td:nth-of-type(2),
	#health_data thead tr th:nth-of-type(3),
	#health_data tbody tr td:nth-of-type(3),
	#fine_particles thead tr th:first-of-type,
	#fine_particles tbody tr td:first-of-type,
	#fine_particles tbody tr th,
	#fine_particles thead tr th:nth-of-type(2),
	#fine_particles tbody tr td:nth-of-type(2),
	#fine_particles thead tr th:nth-of-type(3),
	#fine_particles tbody tr td:nth-of-type(3) {
		min-width:266.666666667px;
		width:32% !important; 
	}

	#direct_vs_indirect thead tr th,
	#direct_vs_indirect tbody tr th,
	#direct_vs_indirect tbody tr td {
		width:15%; 
	}
	#direct_vs_indirect thead tr th:nth-of-type(4),
	#direct_vs_indirect tbody tr td:nth-of-type(3) {
		width:45%; 
	}
	#contaminants thead tr th,
	#contaminants tbody tr th,
	#contaminants tbody tr td {
		min-width:100px;
		width:23%; 
	}
	#contaminants thead tr th:nth-of-type(1),
	#contaminants tbody tr th {
		width:150px;
	}

	#radon_risk thead tr th,
	#radon_risk tbody tr td {
		width:39%; 
	}
	#radon_risk thead tr th:first-of-type {
		width:15%; 
	}
	#radon_risk tbody tr th {
		width:15%; 
	}
	#radon_results thead tr th,
	#radon_results tbody tr th,
	#radon_results tbody tr td {
		width:18%; 
	}
	#radon_results thead tr th:nth-of-type(5),
	#radon_results tbody tr td:nth-of-type(4) {
		width:20%; 
	}
	#conceptual_pathways thead tr th,
	#conceptual_pathways tbody tr td,
	#conceptual_pathways tbody tr th	{
		width:14.5%;
	}
	#conceptual_pathways thead tr th:nth-of-type(6),
	#conceptual_pathways thead tr th:nth-of-type(7),
	#conceptual_pathways tbody tr td:nth-of-type(5),
	#conceptual_pathways tbody tr td:nth-of-type(6)  {
		text-align:right;
		width:6%; 
	}
	#conceptual_pathways thead tr th {
		margin-left:.3rem; 
	}
	#conceptual_pathways tbody tr td:nth-of-type(5) ul li,
	#conceptual_pathways tbody tr td:nth-of-type(6) ul li {
		text-align:right;
	}
	#birth_defects thead tr th,
	#birth_defects tbody tr td,
	#birth_defects tbody tr th,	
	#vulnerable thead tr th,
	#vulnerable tbody tr td,
	#vulnerable tbody tr th,
	#mapping_data_sources thead tr th,
	#mapping_data_sources tbody tr td,
	#mapping_data_sources tbody tr th {
		width:22%; 
	}
	#birth_defects thead tr th:first-of-type,
	#birth_defects tbody tr th,
	#vulnerable thead tr th:first-of-type,
	#vulnerable tbody tr th,
	#mapping_data_sources thead tr th:first-of-type,
	#mapping_data_sources tbody tr th	{
		width:25%;
	}
}

@media all and (min-width:850px) {
	#contaminants thead tr th,
	#contaminants tbody tr th,
	#contaminants tbody tr td {
		min-width:170px;
	}
	#radon_risk thead tr th,
	#radon_risk tbody tr td {
		width:40%; 
	}
	#radon_risk thead tr th:first-of-type,
	#radon_risk tbody tr th {
		width:16%; 
	}
	#conceptual_pathways thead tr th,
	#conceptual_pathways tbody tr td,
	#conceptual_pathways tbody tr th	{
		width:15.25%; 
	}
}


	@media all and (min-width:800px) {
		#exposures thead tr th:nth-of-type(2),
		table#exposures tbody tr td {
			width:70%; 
		}
	}

/* FORMS  ------------------------------------------------------------------------------------------ */

form input, 
form select, 
form textarea {
	border:1px solid #5c5d5d;
	font-size:0.9em;
	font-family:Verdana, Arial, sans serif; 
	padding:.5rem .3rem; 
}

form input[type="submit"],
form input[type="submit"]:visited {
	background:#07459A;
	/* background:rgba(7,69,154,.08); */
	border:thin solid rgba(7,69,154,.08);
	border-radius:3px;
	color:#07459A; color:#ffffff;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-weight:bold; 
	padding:.2rem .3rem;
	-webkit-appearance:none;
}
form input[type="submit"]:hover,
form input[type="submit"]:focus {
	background:#006400;
	background:rgba(0,100,0,.08);
	border:thin solid rgba(0,100,0,.08);
	color:#006400;
	text-decoration:underline;
}
form input[type="submit"]:active {
	background:#64406B;
	background:rgba(100,64,107,.08);
	border:thin solid rgba(100,64,107,.08);
}

form label {
	color:#0c0d0d;
	display:block;
	font-size:13px;
	font-weight:bold; 
}


.search-box {
	background:transparent;
	/* border:thin solid #aeb0b5; */
	border-radius:3px;
	float:right;
	margin:-5px 0 .25rem .25rem;
	max-width:300px;
	min-width:150px; 
	padding:.3rem 0 0 .5rem; 

}
.search-box input[type="text"] {
	width:73%;
}
.search-box input[type="submit"] {
	display:inline-block;  
}

.search-box label { 
	font-weight:bold;
}


@media screen and (min-width:800px) {
	.search-box {
		margin-top:0;
		width:25%;
	}
	.search-box input[type="text"] {
		width:73%;
	}
}


/*   HEADER ------------------------------------------------------------------------------------------ */

header {
	background:#ffffff; 
	display:block;
	height:10rem; 
	margin:0;
	padding:6px 0 8px 0;
	position:relative;
	width:97.555%; 
	z-index:999999999 !important;
}


@media screen and (min-width:800px) {
	header {
		background:#ffffff;
		border-bottom:2px solid #99ccff;
		height:8.5rem; /* 140px */
		padding-left:12px;
		padding-right:12px;
	}
}

ul.header2 {
	background:transparent;
	color:#ffffff;
	display:block;
	height:36px;
	list-style:none;
	margin:0;
	padding:0 1px;
}
ul.header2 li {
	display:inline-block;
	margin:0;
	padding:0;
}
ul.header2 a {
	color:#ffffff;
	cursor:pointer;
	display:block;
	text-decoration:none;
}
ul.header2 a:hover,
ul.header2 a:focus {
	text-decoration:underline;
}
ul.header 2 a:active {
	color:rgba(255,255,255,.7);
	text-decoration:underline;
}
ul.header2 li {
	display:inline-block;
	margin:0;
	padding:0;
	vertical-align:top;
}
ul.header2 li:last-child {
	float:right;
	padding-top:5px;
}

a#massgov_link {
	background:transparent url("/images/massgovlogo.png") 0 0 no-repeat;
	height:35px;
	width:101px;
}
a#eohhs_link {
	background:transparent url("/images/eohhs-home.jpg") 0 5px no-repeat;
	height:35px;
	width:100px;
}

header h1 {
	display:inline-block;
	font-size:14px;
	margin:0 0 .3rem 0;
	min-height:100px;
    padding:0;
	vertical-align:top;
	width:100%; 
}

header h1 a.dph_seal,
header h1 a.dph_seal:hover,
header h1 a.dph_seal:focus,
header h1 a.dph_seal:active {
	background:#ffffff;
	border:6px solid #ffffff;
	cursor:pointer;
	display:block;
	float:left;
	height:95px;
	margin:0;
	padding:0;
	position:relative;
	text-align:center;
	text-decoration:none;
	width:100px; 
}
header h1 a.dph_seal img {
	left:7%;
	position:absolute;
	top:3%;
}

header h1 a.tracking_app {
	color:#006400;
	display:block;
	float:left;
	font-weight:bold; 
	margin:0;
	min-width:180px;
	padding:0; 
	position:absolute;
	top:30px;
	left:135px;
	text-align:left;
	text-decoration:none;
	text-shadow:0 2px 4px #ffffff;
	width:50%; 
}
header h1 a.tracking_app:active {
	text-align:left;
}


@media screen and (min-width:500px) {
	header h1 {
	  font-size:16px;
	}
	header h1 a.tracking_app {
		width:50%;
	}
}

@media screen and (min-width:600px) {
	header h1 {
	  font-size:20.8px;
	}
}

@media screen and (min-width:800px) {
	header h1 { 
		width:67%;
	}
	header h1 a.tracking_app {
		width:55%;
	}
}
@media screen and (min-width:960px) {
	header h1 { 
		width:72%; 
	}
	header h1 a.tracking_app {
		width:58%; 
	}
}



/* NAVIGATION  ------------------------------------------------------------------------------------------ */

header #menu { 
	background:#0c0d0d;
	display:block; 
	font-size:12px;
	margin:0;
	padding:0;
	width:99%; 
}

.menu ul {
	border-top:.5rem solid #0c0d0d;
	font-size:13px !important;
	list-style:none;
	margin:0;
	padding:0;
}
.menu ul ul {
	margin-left: 1rem; 
}
.menu ul li {
	font-size:13px !important;
	margin:0;
	padding:0;
}

a.menu-link { 
	display: block; 
	color: #fff; 
	background-color: #0c0d0d; 
	float: right; 
	float:left;
	margin-left:12px;
	margin-top:0;
	padding: 16px 8px;
	text-decoration: none; 
}

.menu, .menu > ul ul {
	clear: both;
	-webkit-transition: all 0.3s ease-out;  
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.js .menu, .js .menu > ul ul {
	overflow: hidden;
	max-height: 0;
}
.menu.active, .js .menu > ul ul.active {
	max-height: 55em;
}
.menu > ul	{
}
.menu li a {
	background:transparent;
	color: #ffffff;
	display: block;
	padding:0.5rem;
	border-bottom: 1px solid #808080;
	position: relative; 
	text-decoration:none;
}

.menu li a:hover,
.menu li a:focus {
	background:#006400;
	color:#ffffff;
	background:#ffffff;
	color:#006400;
}
.menu li.has-subnav > a:after {
	content: '+';
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	font-size: 1.5em;
	padding: 0.25em 0.5em;
}
.menu li.has-subnav > a.active:after {
	content: "-";
}
.menu a:active {
	text-align:left; 
}


ul.inner_nav	{
	list-style:none; 
	margin:0 auto .5rem auto;
	padding:0;
	width:100%;
}
ul.inner_nav li {
	display:inline-block; 
	font-size:13px !important;
	margin:.3rem 1px;
	padding:0;
	vertical-align:top;
	width:48%;
}
ul.inner_nav li:nth-last-child(1):nth-child(odd) {
	width:99%;
}
ul.inner_nav li a {
	background:#f3f3f3;
	background:rgba(7,69,154,.08);
	border:thin solid rgba(7,69,154,.2);
	border:thin solid rgba(153,202,60,1);
	border-radius:3px;
	display:block;
	min-height:1.75rem;
	padding:.5rem 0;
	text-align:center;
	text-decoration:none;
	vertical-align:middle;
}
ul.inner_nav li a:hover,
ul.inner_nav li a:focus,
ul.inner_nav li a:visited:hover,
ul.inner_nav li a:visited:focus {
	background:rgba(0,100,0,.08);
	border:thin solid rgba(0,100,0,.2);
	color:#07459A;
	text-decoration:underline;
}
ul.inner_nav li a:visited {
	background:#0c0c0c;
	background:rgba(100,64,107,0.2);
	/* border:thin solid rgba(180,180,180,.2); */
	color:#64406b;
	text-decoration:underline;
}
ul.inner_nav li a:active {
	background:#f3f3f3;
	color:#030303;
	text-decoration:underline;
}


/* .js .menu > ul ul.is-active,
.is-active {
  display: block; /* Show on click */
/* } */


@media screen and (min-width: 800px) {
	  ul.inner_nav li,
	  ul.inner_nav li:last-child,
	  ul.inner_nav li:nth-last-child(1):nth-child(odd) {
		  width:auto;
	  }
	  ul.inner_nav li a {
		  min-height:auto;
		  padding:0.3rem;
	  }


	  header #menu {
		  padding-left:1.25rem !important;
		  width:98%;
	  }
	  a.menu-link {
		 display: none;
	  }
	.js .menu, .js .menu > ul ul {
		  max-height: none;
		  overflow: visible;
		  background: none;
	  }
	  .js .menu > ul ul {
		  background:#ebf0f7;
		  background:#f3f3f3;
		  background:#0c0d0d;
		  display: none;
	  }
	  .js .menu ul ul {
		  margin-left:-0.25em; 
	  }
	  .js .menu > ul li:hover > ul {
		  -webkit-box-shadow: 0px 2px 5px 0 #bababa, -5px 0 0 -4px #dddddd, 5px 0 0 -4px #dddddd;
		  -moz-box-shadow: 0px 2px 5px 0 #bababa, -5px 0 0 -4px #dddddd, 5px 0 0 -4px #dddddd;
		  box-shadow: 0px 2px 5px 0 #bababa, -5px 0 0 -4px #dddddd, 5px 0 0 -4px #dddddd;
		  border-top: 3px solid #0c0d0d;
		  margin-left:0;
		  margin-top: -7px;
		  min-width:120px;
		  width:100%;
		  display: block;
	  }
	  .menu ul {
		  font-size:11px;
		  margin: 0 0 0 -0.25em;
		  border: 0;
	  }
	  .menu li a {
		  border-bottom:0;
	  }
	  .menu li a:hover,
	  .menu li a:focus {
	  }
	  .menu li.has-subnav > a {
		  padding-right: .5rem;
	  }
	  .menu li.has-subnav > a:after {
		  content: ">";
		  content:"";
		  font-size: 1em;
		  padding: 0.8em 0.5em;
	  }
	  .menu .level-1 > li.has-subnav > a:after {
		  content: "▼";
		  content:"";
	  }
	  .menu > ul li {
		  margin: 0 0.25em;
	  }
	  .menu > ul > li {
		  display: inline-block;
		  position: relative;
	  }
	  .menu > ul ul {
		  position: absolute;
		  top: 0;
		  left: 12em;
		  width: 12em;
	  }
	  .menu > ul ul li {
		  position: relative;
	  }
	  .menu > ul ul.level-2 {
		  top: 3em;
		  left: 0;
	  }
  }




/* BREADCRUMBS  ------------------------------------------------------------------------------------------ */

#breadcrumb
{	font-size:.60em;
	font-color: #006400;
	margin:.5rem; outline:thin solid orange; display:none;
	padding: 10px 0px 0px 20px; 
		}
a.breadcrumb
{
	font:Arial, Helvetica, sans-serif;
	color: #ffffff;
	font-decoration:none;
	}
	
	





	
/*  FOOTER --------------------------------------------------------------------------------------------- */

footer {
	background-color: #ffffff;
	border-top: 1px;
	border-right: 0px;
	border-bottom: 0px;
	border-left: 0px;
	border-color: #006400;
	border-style: solid;
	clear: both;
	padding-top: .5REM;
	position: relative;/* this gives IE6 hasLayout to properly clear */
	text-align: center; 
}

footer ul#footer_links {
	list-style:none;
	margin:.5rem auto;
	padding:0;
}
footer ul#footer_links li {
	display:block;
	margin:.3rem 0 1rem 0;
	padding:0;
	text-align:center;
}
footer ul#footer_links li a {
	background:#f3f3f3;
	background:rgba(7,69,154,.08);
	color:#07459A;
	display:block;
	margin:0;
	padding:.3rem;
	text-decoration:none;
}
footer ul#footer_links li a:hover,
footer ul#footer_links li a:focus {
	background:rgba(0,100,0,.08);
	color:#006400;
	text-decoration:underline;
}
footer ul#footer_links li a:active {
	background:#f3f3f3;
	color:#030303;
	text-decoration:underline;
}
footer ul#footer_links li a:visited {
	background:#f3f3f3;
	background:rgba(100,64,107,0.2);
	color:#64406b;
}

footer p:first-of-type {
	text-align:center;
}

.copyright {
	font-size:11px;
	margin-top:1rem;
	text-align:center;
}

.adobe_reader {
	display:block;
	margin:auto;
	padding:5px;
	text-align:center;
	width:80%;
}
.adobe_reader img { 
	float:none;
	margin:auto;
}

#social-media {
}
#social-media a {
	display:inline-block;
	margin:5px; 
	vertical-align:middle;
}

.social img	{
	height:40px;
	padding:5px .35rem;
	width:40px;
}

.ntl_prtnr {
	display:block; 
	float:none;
	margin:5px auto;
	padding-left:5px;
	text-align:center !important;
	width:95%; 
}
.ntl_prtnr img {
	display:block;
	float:none;
	height:auto;
	margin:auto;
	max-width:100px !important;
	padding:5px 10px 5px 0;
	text-align:center;
	width:90%; 
}

/* classic styles to hide these links? */
p.GreyOrge a:link {
	color:#ffffff;
	font-size: 100%;
	text-decoration:none;
}
p.GreyOrge a:hover,
p.GreyOrge a:focus {
	color:#ffffff;
	font-size: 100%;
	text-decoration:underline;
}
p.GreyOrge a:visited {
	color:#ffffff;
	font-size: 100%;
	text-decoration:underline;
}


@media screen and (min-width:768px) {
	footer ul#footer_links li {
		border-right:1px solid #030303; 
		display:inline-block;
		margin:0;
		padding:0;
	}
	footer ul#footer_links li:last-child {
		border:0;
	}
	footer ul#footer_links li a { 
		background:#ffffff;
		display:block;
		margin:0;
		padding:0 .5rem 0 .3rem;
	}
	footer ul#footer_links li a:hover,
	footer ul#footer_links li a:focus,
	footer ul#footer_links li a:visited {
		  background:#ffffff;
	}

	#social-media {
		display:block;
		padding-bottom:.5rem;
	}
	.ntl_prtnr {
		width:auto;
	}
	.ntl_prtnr img {
		display:inline-block;
		margin:auto;
		padding:0;
	}

}

a.feedback,
button	{
	background:#ff6600;
	border:0;
	border-radius:5px;
	color:#ffffff;
	display:inline-block;
	font-size:13px;
	margin:.5rem auto;
	padding:.5rem 1rem;
}
a.feedback:hover,
a.feedback:focus,
button:hover,
button:focus	{
	background:#006400;
}
a.feedback:active,
button:active	{
	background:#030303;
}



/* OTHER --------------------------------------------------------------------------------------------- */


/* CDC Widget Code------------------------------------ */

.feed_item_title a:link {
    color: #0000FF;
    text-decoration: none;
}
.feed_item_title {
    color: #000000;
    font-weight: bold;
    margin: 1px 0 1px 3px;
    padding: 1px 2px 1px 3px;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
}
.feed_item_description {
    color: #000000;
    line-height: 135%;
    margin: 0 0 0 3px;
    padding: 0 2px 0 3px;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
}



/* ================== TOGGLES ======================== */

.toggle { position:relative; }
.toggle dt,
.toggle caption { cursor:pointer; }
.toggle dd { display:none; }
.toggle dt:after,
.toggle caption:after	{
	content: '+';
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	font-size: 1.5em;
	padding: 0.25em 0.5em;
}
.toggle caption {
	display:block;
	padding-left:1.5rem;
}
.toggle caption:after {
	left:0;
	padding-top:.15rem;
}
.toggle_active dd { display:block; }

/* =================================================== */



