@charset "utf-8";
/* mass.gov elements  */
.ma__action-finder__items:not(.ma__action-finder__items--all) {
    padding-bottom: 25px;
}
.ma__action-finder__container
{ padding-bottom:0px;
}

.ma__action-finder__items
{
	width:100%;
	max-width:1320px;
}

.ma__callout-link
{
margin:20px;
width:28%;
}
.ma__action-finder__items:not(.ma__action-finder__items--all)
{
	padding-bottom:20px;
}
.ma__section-links__title::after
{
	background-color:#14558f;
}


/*  PHIT page styling  */
#phit_landing
{
border:none;
 max-width:754px;
 min-width:325px;
 background-color: #ffffff;
 padding: 15px;
 }	
 #phit_landing tr td .phit_col tr td{
 font-family: "Arial Black", Gadget, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #3660AA;
	max-width:300px;
	vertical-align: middle;
	margin-left: auto;
    margin-right: auto;
	}
#phit_landing tr #col1 {
	text-align: right;
	vertical-align: top;
	border: none;
}
#phit_landing tr #col2 {
	text-align: left;
	vertical-align: top;
	border: none;
}
#phit_landing tr #col1 table {
	border: none;
	width:100%;
	max-width:300px;
}
#phit_landing tr #col2 table {
	border: none;
	width:100%;;
	max-width:300px;
}
#phit_landing tr .human-body{
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #3660AA;
	display: none;
	max-width:300px;
	vertical-align: middle;
	margin-left: auto;
    margin-right: auto;
	}
#phit_landing tr .human-body img {
	margin-left: auto;
    margin-right: auto;
	width: 100%;
	padding-top:15px;
}
#phit_landing tr #col1 .phit_col tr td img {
	width: 35px;
	height:35px;
	max-width:none;
}
#phit_landing tr #col1 .phit_col tr td .ma__callout-link__text svg
{
	margin-right: 0.2em;
}

#phit_landing tr #col2 .phit_col tr td img {
	width: 35px;
	height:35px;
	max-width:none;
}

@media only screen and (min-width:753px){
#phit_landing tr td .phit_col tr td{
	font-size: 16px;	
}
#phit_landing tr .human-body {
	display: block;
	width:33%;
}
#phit_landing tr #col1 .phit_col tr td img {
	width: 93px;
	height:93px;
}
#phit_landing tr #col2 .phit_col tr td img {
	width: 93px;
	height:93px;
}
#phit_landing tr .human-body {
	width:240px;
}
}
@media only screen and (min-width:500px) and (max-width:752px) 
 {
#phit_landing tr td .phit_col tr td {
	font-size: 14px;	
}
#phit_landing tr .human-body{
	display: block;
	width:175px;
}
#phit_landing tr #col1 .phit_col tr td img {
	width: 60px;
	height:60px;
}
#phit_landing tr #col2 .phit_col tr td img {
	width: 60px;
	height:60px;
}
}
#SvgjsSvg1000
{
fill: #4f81bd;	
}
